form {
    @media (width >= 576px) {
        width: 400px;
    }
}

p {
    line-height: 16px;
}

a {
    &:focus-visible {
        outline: none;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.submit-btn-group {
    display: flex;
    align-items: center;
    gap: 8px;
}
