@font-face {
    font-display: swap;
    font-family: 'Roboto Serif';
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/roboto-serif/roboto-serif-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Serif';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/roboto-serif/roboto-serif-400-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto Serif';
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/roboto-serif/roboto-serif-600.woff2') format('woff2');
}

:root {
    --nexp-red-6: #c23b22;

    --nexp-green-1: #f2f9f5;
    --nexp-green-2: #e0f0e3;
    --nexp-green-3: #d8ecd0;
    --nexp-green-4: #c1e1c1;
    --nexp-green-5: #77dd77;
    --nexp-green-6: #2d5a27;

    --nexp-blue-5: #3730a3;
    --nexp-blue-6: #1e1b4b;

    --next-black-5: #333;
    --next-black-6: #050505;
}

body {
    font-family: 'Roboto Serif', sans-serif;
    font-size: 12px;
    color: var(--next-black-6);
}

/* p {
    font-weight: 400;
    font-style: italic;
} */

h1, h2, h3, h4, strong {
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

a {
    color: var(--nexp-blue-5);
    transition: color .4s ease;
}

a:hover,
a:focus {
    color: var(--nexp-blue-6);
}

.nexp-title {
    margin-bottom: 1em;
}